USE [master]
GO
/****** Object:  Database [DB_QLSV]    Script Date: 11/16/2023 9:04:06 PM ******/
CREATE DATABASE [DB_QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DB_QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QLSV]
GO
USE [DB_QLSV]
GO
/****** Object:  Sequence [dbo].[SE_MAKHOA]    Script Date: 11/16/2023 9:04:06 PM ******/
CREATE SEQUENCE [dbo].[SE_MAKHOA] 
 AS [bigint]
 START WITH 100
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[A]    Script Date: 11/16/2023 9:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[B]    Script Date: 11/16/2023 9:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHAMCONG]    Script Date: 11/16/2023 9:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAMCONG](
	[MaGV] [char](10) NOT NULL,
	[NgayDiemDanh] [datetime] NOT NULL,
	[DiemDanh] [bit] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[NgayDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUONGTRINH]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONGTRINH](
	[MaChuongTrinh] [char](10) NOT NULL,
	[TenChuongTrinh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuongTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MaSV] [char](10) NOT NULL,
	[MaMon] [char](10) NOT NULL,
	[DiemTX1] [float] NULL,
	[DiemTX2] [float] NULL,
	[DiemKT1] [float] NULL,
	[DiemKT2] [float] NULL,
	[DiemThi] [float] NULL,
	[LanThi] [tinyint] NULL,
	[DiemTB] [float] NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMDANH]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMDANH](
	[MaSV] [char](10) NOT NULL,
	[NgayDiemDanh] [datetime] NOT NULL,
	[DiemDanh] [bit] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[NgayDiemDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MaGV] [char](10) NOT NULL,
	[AnhDaiDien] [image] NULL,
	[CMND] [char](12) NULL,
	[TenGV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NOT NULL,
	[SDT] [varchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[QueQuan] [nvarchar](50) NOT NULL,
	[DanToc] [nvarchar](10) NULL,
	[TonGiao] [nvarchar](10) NULL,
	[NgayVaoTruong] [date] NULL,
	[Loai] [nvarchar](20) NULL,
	[SoNamCongTac] [date] NULL,
	[MaKhoa] [char](10) NOT NULL,
	[MaTk] [char](10) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MaSV] [varchar](20) NOT NULL,
	[HocKi] [bit] NOT NULL,
	[NamHoc] [date] NOT NULL,
	[TienHocCoBan] [money] NULL,
	[TienGiamHocPhi] [money] NULL,
	[TienChinhThuc] [money] NULL,
	[TrangThai] [bit] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[HocKi] ASC,
	[NamHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MaKhoa] [char](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
	[NamBatDau] [date] NULL,
	[GhiChu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOAHOC]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOAHOC](
	[MaKhoaHoc] [char](10) NOT NULL,
	[TenKhoaHoc] [nvarchar](50) NOT NULL,
	[NamBatDau] [date] NOT NULL,
	[NamKetThuc] [date] NOT NULL,
	[MaChuongTrinh] [char](10) NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHDAY]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHDAY](
	[MaGV] [char](10) NOT NULL,
	[MaLop] [char](10) NOT NULL,
	[MaMon] [char](10) NOT NULL,
	[MaKhoaHoc] [char](10) NOT NULL,
	[NgayDay] [date] NOT NULL,
	[SoTietDay] [tinyint] NULL,
	[CaDay] [bit] NULL,
	[Phong] [nvarchar](20) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaLop] ASC,
	[MaMon] ASC,
	[NgayDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [char](10) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[MaKhoa] [char](10) NOT NULL,
	[SoSV] [tinyint] NULL,
	[MaKhoaHoc] [char](10) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONGGIAOVIEN]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONGGIAOVIEN](
	[MaGV] [char](10) NOT NULL,
	[LuongCoBan] [money] NULL,
	[HeSoLuong] [tinyint] NULL,
	[MucThuongPhuCap] [money] NULL,
	[MucThuongThamNien] [money] NULL,
	[MucBHXH] [tinyint] NULL,
	[LuongChinhThuc] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[LuongChinhThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MON]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[MaMon] [char](10) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[SoTiet] [tinyint] NOT NULL,
	[SoTinChi] [tinyint] NOT NULL,
	[MaKhoa] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGANH]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANH](
	[MaNganh] [char](10) NOT NULL,
	[TenNganh] [nvarchar](50) NOT NULL,
	[MaKhoa] [char](10) NOT NULL,
	[NamBatDau] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MaGV] [char](10) NOT NULL,
	[MaLop] [char](10) NOT NULL,
	[MaMon] [char](10) NOT NULL,
	[MaKhoaHoc] [char](10) NOT NULL,
	[ViTri] [nvarchar](20) NOT NULL,
	[HocKi] [tinyint] NOT NULL,
	[NamHoc] [date] NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaLop] ASC,
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [char](10) NOT NULL,
	[AnhDaiDien] [image] NULL,
	[CMND] [char](12) NULL,
	[TenSV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[DanToc] [nvarchar](10) NULL,
	[TonGiao] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[QueQuan] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[NgayNhapHoc] [date] NULL,
	[MaKhoaHoc] [char](10) NOT NULL,
	[MaLop] [char](10) NOT NULL,
	[MaTk] [char](10) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MaTk] [char](10) NOT NULL,
	[TaiKhoan] [varchar](20) NOT NULL,
	[MatKhau] [varchar](20) NOT NULL,
	[PhanLoai] [nvarchar](20) NOT NULL,
	[NgayTruyCap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[A] ON 

INSERT [dbo].[A] ([MaKhoa]) VALUES (1)
INSERT [dbo].[A] ([MaKhoa]) VALUES (2)
INSERT [dbo].[A] ([MaKhoa]) VALUES (3)
SET IDENTITY_INSERT [dbo].[A] OFF
GO
SET IDENTITY_INSERT [dbo].[B] ON 

INSERT [dbo].[B] ([STT], [MaKhoa]) VALUES (1, N'KH541215  ')
INSERT [dbo].[B] ([STT], [MaKhoa]) VALUES (2, N'KH55121   ')
INSERT [dbo].[B] ([STT], [MaKhoa]) VALUES (3, N'KH65619   ')
SET IDENTITY_INSERT [dbo].[B] OFF
GO
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa], [NamBatDau], [GhiChu]) VALUES (N'KH120     ', N'Công nghệ thông tin', CAST(N'2023-11-09' AS Date), N'')
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa], [NamBatDau], [GhiChu]) VALUES (N'KH121     ', N'Trung cấp 9+ ', CAST(N'2023-11-22' AS Date), N'')
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa], [NamBatDau], [GhiChu]) VALUES (N'KH122     ', N'Ô tô ', CAST(N'2023-11-15' AS Date), N'')
GO
INSERT [dbo].[TAIKHOAN] ([MaTk], [TaiKhoan], [MatKhau], [PhanLoai], [NgayTruyCap]) VALUES (N'TK11111111', N'admin', N'123', N'admin', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GIAOVIEN__CA1930A534B1B0D1]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[GIAOVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GIAOVIEN__F67C8D0BC0E6D984]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[GIAOVIEN] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHOA__AAD361588DF71CD4]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[KHOA] ADD UNIQUE NONCLUSTERED 
(
	[TenKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOP__336AF71E97DECA83]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[LOP] ADD UNIQUE NONCLUSTERED 
(
	[TenLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOP__48F0FF99FA49E142]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[LOP] ADD UNIQUE NONCLUSTERED 
(
	[MaKhoaHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MON__332EF5653ABA241A]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[MON] ADD UNIQUE NONCLUSTERED 
(
	[TenMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NGANH__A39CDA52C237EE36]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[NGANH] ADD UNIQUE NONCLUSTERED 
(
	[TenNganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SINHVIEN__CA1930A544E90727]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[SINHVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SINHVIEN__F67C8D0B79CCAF33]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[SINHVIEN] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAIKHOAN__0D7119E00769A453]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[MatKhau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TAIKHOAN__D5B8C7F0C3EDDC8E]    Script Date: 11/16/2023 9:04:07 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIEM] ADD  DEFAULT ((0)) FOR [DiemTX1]
GO
ALTER TABLE [dbo].[DIEM] ADD  DEFAULT ((0)) FOR [DiemTX2]
GO
ALTER TABLE [dbo].[DIEM] ADD  DEFAULT ((0)) FOR [DiemKT1]
GO
ALTER TABLE [dbo].[DIEM] ADD  DEFAULT ((0)) FOR [DiemKT2]
GO
ALTER TABLE [dbo].[DIEM] ADD  DEFAULT ((0)) FOR [DiemThi]
GO
ALTER TABLE [dbo].[DIEM] ADD  DEFAULT ((0)) FOR [DiemTB]
GO
ALTER TABLE [dbo].[CHAMCONG]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[DIEM]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[DIEMDANH]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD FOREIGN KEY([MaTk])
REFERENCES [dbo].[TAIKHOAN] ([MaTk])
GO
ALTER TABLE [dbo].[KHOAHOC]  WITH CHECK ADD FOREIGN KEY([MaChuongTrinh])
REFERENCES [dbo].[CHUONGTRINH] ([MaChuongTrinh])
GO
ALTER TABLE [dbo].[LICHDAY]  WITH CHECK ADD FOREIGN KEY([MaLop], [MaKhoaHoc])
REFERENCES [dbo].[LOP] ([MaLop], [MaKhoaHoc])
GO
ALTER TABLE [dbo].[LICHDAY]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[LICHDAY]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD FOREIGN KEY([MaKhoaHoc])
REFERENCES [dbo].[KHOAHOC] ([MaKhoaHoc])
GO
ALTER TABLE [dbo].[LUONGGIAOVIEN]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[NGANH]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD FOREIGN KEY([MaLop], [MaKhoaHoc])
REFERENCES [dbo].[LOP] ([MaLop], [MaKhoaHoc])
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GIAOVIEN] ([MaGV])
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MON] ([MaMon])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MaLop], [MaKhoaHoc])
REFERENCES [dbo].[LOP] ([MaLop], [MaKhoaHoc])
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD FOREIGN KEY([MaTk])
REFERENCES [dbo].[TAIKHOAN] ([MaTk])
GO
/****** Object:  StoredProcedure [dbo].[REMOVEKHOA]    Script Date: 11/16/2023 9:04:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REMOVEKHOA](@MaKhoa CHAR(10))
AS
BEGIN
UPDATE NGANH SET MaKhoa= @MaKhoa WHERE MaKhoa= @MaKhoa
UPDATE MON SET MaKhoa= @MaKhoa WHERE MaKhoa= @MaKhoa
UPDATE GIAOVIEN SET MaKhoa= @MaKhoa WHERE MaKhoa= @MaKhoa
UPDATE LOP SET MaKhoa= @MaKhoa WHERE MaKhoa= @MaKhoa
DELETE FROM KHOA WHERE MaKhoa= @MaKhoa
END
GO
USE [master]
GO
