<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Libary_ConnectDB.SettingFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Libary_ConnectDB.SettingFile>
            <setting name="KeyDB" serializeAs="String">
                <value>Data Source=DESKTOP-9OR80U7\SQLEXPRESS;Initial Catalog=DB_QLSV;Integrated Security=True</value>
            </setting>
            <setting name="NameServer" serializeAs="String">
                <value>DESKTOP-9OR80U7\SQLEXPRESS</value>
            </setting>
            <setting name="NameDatabase" serializeAs="String">
                <value>DB_QLSV</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
        </Libary_ConnectDB.SettingFile>
    </userSettings>
</configuration>